[submodule "foundry-fund-me/lib/foundry-devops"]
	path = foundry-fund-me/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "lib/chainlink-brownie-contracts"]
	path = lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
